# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Notebook
.ipynb_checkpoints/

# Extra data files
resized_data/
models/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/